<div class="card">
    <h3>Decimal Number:</h3>
    <p>{{myNumber | number}}</p>
</div>

<div class="card">
    <h3>Currency:</h3>
    <p>{{myCurrency | currency}}</p>
</div>

<div class="card">
    <h3>Percent:</h3>
    <p>{{myPercent | percent}}</p>
</div>

<div class="card">
    <h3>Uppercase:</h3>
    <p>{{myLowercase | uppercase}}</p>
</div>

<div class="card">
    <h3>Lowercase:</h3>
    <p>{{myLowercase | lowercase}}</p>
</div>

<div class="card">
    <h3>Date:</h3>
    <p>{{myDate | date}}</p>
</div>

<div class="card">
    <h3>Date (Short):</h3>
    <p>{{myDate | date:'short'}}</p>
</div>

<div class="card">
    <h3>Date (medium):</h3>
    <p>{{myDate | date:'medium'}}</p>
</div>

<div class="card">
    <h3>Date (long):</h3>
    <p>{{myDate | date:'long'}}</p>
</div>

<div class="card">
    <h3>Date (full):</h3>
    <p>{{myDate | date:'full'}}</p>
</div>

<div class="card">
    <h3>Date (shortTime):</h3>
    <p>{{myDate | date:'shortTime'}}</p>
</div>

<div class="card">
    <h3>Date (mediumTime):</h3>
    <p>{{myDate | date:'mediumTime'}}</p>
</div>

<div class="card">
    <h3>Date (longTime):</h3>
    <p>{{myDate | date:'longTime'}}</p>
</div>